DB_PASSWORD=netbench_secret
REDIS_PASSWORD=redis_secret
INFLUX_PASSWORD=influx_secret
INFLUX_TOKEN=influx_token_secret
RABBITMQ_PASSWORD=rabbitmq_secret
JWT_SECRET=WquaziGki4LOyFHoiRARHugfSa7jQGkgnadoVZ3nQaWijZIijuXYKiXSEI6ZZVS+cmSqTK0R/K8jKgjk2r9BFw==
